{{!< default}}

{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>

    <div class="main-header-content">
        <h1 class="page-title">{{@blog.title}}</h1>
        <h2 class="page-description">{{@blog.description}}</h2>
    </div>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
          <div class="imp-paint"></div>
            {{content}}
              <form id="paintForm" name="paintForm">
                <label class="nameLabel">Title of your painting<input type="text" size="32" maxlength="32" id="paintTitle" name="paintTitle" value=""/></label>
                <label class="nameLabel">Your name (public)<input type="text" size="32" maxlength="32" id="paintAuthor" name="paintAuthor" value=""/></label>
                <a href="/" class="returnLink">< Back to homepage</a>
                <button type="button" onclick="return impromptu.submitPainting()">Submit</button>
                <div class="error"</div>
              </form>
        </section>

    </article>
</main>
{{/post}}
